# BDAT 1004 Problem Set Two

## Question 1

Question 1 Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [2]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

Explanation:

Value is displayed as 6 when the last expression (a) is evaluated.

When we exceute b() for the first time, a takes the value as specified in function c. In function c value becomes 2 (0 + 2) and then the value is transferred to function b and in function b, a = 2.

Similarly when we execute b() for the second time, in the function c value becomes 4 (2+2) and then the value is transferred to function b and in function b, a = 4.

Similarly when we execute b() for the third time, in the function c value becomes 6 (4+2) and then the value is transferred to function b and in function b, a = 6.

And in the end when we execute a then the value of a is 6 and is displayed as output. Value of a keeps on changing as it is a global variable and applies to wherever it is called, it is not limited to a particular function.

## Question 2

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+ file_name +" not found.")

In [7]:
file_length('ProblemSetOne.ipynb')

27389

In [8]:
file_length('roblemSetOne.ipynb')

File roblemSetOne.ipynb not found.

## Question 3

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [78]:
x=0
y=0
pouch = []

class Marsupial:    
    
    def put_in_pouch(self,a):
        pouch.append(a)
        
    def pouch_contents(self):
        print(pouch)

class Kangaroo(Marsupial):

    def __init__(self,x,y):
        x=x
        y=y
        #print("I am a Kangaroo located at ("+str(x)+","+str(y)+")")
        
    def jump(self,dx,dy):
        global x
        global y
        x=x+dx
        y=y+dy
        
    def __str__(self):
        return "I am a Kangaroo located at ("+str(x)+","+str(y)+")"
    
m= Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at (0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at (3,0)

## Question 4

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [41]:
def collatz(x):
    if x == 1:
        print (int(x))
        return

    elif x%2 == 0:
        print (int (x))
        return collatz(x/2)

    else:
        print(int(x))
        return collatz(3*x + 1)

In [42]:
collatz(10)

10
5
16
8
4
2
1

In [43]:
collatz(1)

1

## Question 5

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [144]:
result = ""
def binary(x):
    quotient = 0
    remainder = 0
    global result
    
    if(x !=0):
        quotient = x//2
        remainder = x%2
        result = result + str(remainder)
        binary(quotient)
    elif(result == ""):
        print ("0")
    else:
        print(result)
        result = ""
        
binary(0)

0

In [145]:
result = ""
def binary(x):
    quotient = 0
    remainder = 0
    global result
    
    if(x !=0):
        quotient = x//2
        remainder = x%2
        result = result + str(remainder)
        binary(quotient)
    else:
        print(result)
        
binary(1)

1

In [146]:
result = ""
def binary(x):
    quotient = 0
    remainder = 0
    global result
    
    if(x !=0):
        quotient = x//2
        remainder = x%2
        result = result + str(remainder)
        binary(quotient)
    else:
        print(result)
        
binary(3)

11

In [147]:
result = ""
def binary(x):
    quotient = 0
    remainder = 0
    global result
    
    if(x !=0):
        quotient = x//2
        remainder = x%2
        result = result + str(remainder)
        binary(quotient)
    elif(result == ""):
        print ("0")
    else:
        print(result)
        result = ""
        
binary(9)

1001

## Question 6

In [ ]:
Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [92]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    tag1 = ""
    
    def handle_starttag(self, tag, arrgs):
        global tag1
        tag1=tag
                
    def handle_data(self, data):
        global tag1
        if(tag1 == "h1"):
            print(" "+data)
        elif(tag1 == "h2"):
            print("  "+data)
            
infile = open("w3c.html") 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

 W3C Mission


  Principles

## Question 7

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [22]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

    
from urllib.request import urlopen
def webdir(url, depth, indent):
    openurl = urlopen(url)
    content = openurl.read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    print("{}{} ".format(indent*'', url))
    
    for each in urls:
        if depth>0:
            webdir(each, depth-1, indent+1)
        return urls

In [23]:
webdir('http://www.w3.org/Consortium/mission.html',2,0)

http://www.w3.org/Consortium/mission.html
http://www.w3.org/
http://www.w3.org/

['http://www.w3.org/',
 'http://www.w3.org/standards/',
 'http://www.w3.org/participate/',
 'http://www.w3.org/Consortium/membership',
 'http://www.w3.org/Consortium/',
 'http://www.w3.org/Consortium/',
 'http://www.w3.org/Consortium/facts.html',
 'http://www.w3.org/Consortium/presskit.html',
 'http://www.w3.org/Consortium/sponsor/',
 'http://www.w3.org/Consortium/Recruitment/',
 'http://www.w3.org/Consortium/contact.html',
 'http://www.w3.org/Help/',
 'http://www.w3.org/Consortium/mission.html#w3c_content_body',
 'http://www.w3.org/',
 'http://www.w3.org/Consortium/',
 'http://www.w3.org/Consortium/mission.html#openstand',
 'http://www.w3.org/Consortium/mission.html#principles',
 'http://www.w3.org/Consortium/mission.html#vision',
 'http://open-stand.org/principles/',
 'http://open-stand.org/',
 'http://www.w3.org/WAI/',
 'http://www.w3.org/International/',
 'http://www.w3.org/standards/webofdevices/',
 'http://www.w3.org/Mobile/',
 'http://www.w3.org/standards/agents/Overview.html',
 'http://www.w3.org/standards/webdesign/',
 'http://www.w3.org/standards/webarch/',
 'http://www.w3.org/standards/xml/',
 'http://www.w3.org/standards/semanticweb/',
 'http://www.w3.org/standards/webofservices/',
 'http://www.w3.org/standards/semanticweb/',
 'http://www.w3.org/standards/xml/security',
 'http://www.w3.org/standards/webofservices/security',
 'http://www.w3.org/standards/webdesign/privacy',
 'http://www.w3.org/',
 'http://www.w3.org/standards/',
 'http://www.w3.org/participate/',
 'http://www.w3.org/Consortium/membership',
 'http://www.w3.org/Consortium/',
 'http://www.w3.org/Consortium/contact',
 'http://www.w3.org/Help/',
 'http://www.w3.org/Consortium/sup',
 'http://www.w3.org/Consortium/siteindex',
 'http://lists.w3.org/Archives/Public/site-comments/',
 'http://twitter.com/W3C',
 'http://www.csail.mit.edu/',
 'http://www.ercim.org/',
 'http://www.keio.ac.jp/',
 'http://ev.buaa.edu.cn/',
 'http://www.w3.org/Consortium/Legal/ipr-notice']

## Question 8

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [93]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\kuria\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlparse in c:\users\kuria\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: colorama in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\users\kuria\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\kuria\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\kuria\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kuria\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [107]:
import sqlite3
conn = sqlite3.connect("problemsettwo.db")
sql=conn.cursor()
sql.execute("Create table Temp(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Winter',24.8,5.9)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Spring',28.4,16.2)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Summer',27.9,1549.4)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Fall',27.6,346.0)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Winter',4.2,207.7)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Spring',8.3,169.6)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Summer',15.7,157.0)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Fall',10.4,218.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Winter',13.6,16.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Spring',20.7,6.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Summer',27.7,0.1)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Fall',22.2,4.5)")

a) All the temperature data

In [108]:
sql.execute("SELECT Temperature FROM Temp")
temperature=sql.fetchall()
for i in temperature:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition.

In [109]:
sql.execute("SELECT DISTINCT City FROM Temp")
City=sql.fetchall()
for i in City:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India

In [111]:
sql.execute("SELECT * FROM Temp WHERE Country=='India'")
India=sql.fetchall()
for i in India:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records.

In [113]:
sql.execute("SELECT * FROM Temp WHERE Season=='Fall'")
Fall=sql.fetchall()
for i in Fall:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [115]:
sql.execute("SELECT City,Country,Season FROM Temp WHERE Rainfall BETWEEN 200 AND 400")
Avg=sql.fetchall()
for i in Avg:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [119]:
sql.execute("SELECT city,country,Temperature FROM temp WHERE season=='Fall' AND temperature>20 ORDER BY temperature ASC")
Degree=sql.fetchall()
for i in Degree:
    print(i)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

g) The total annual rainfall for Cairo

In [120]:
sql.execute("SELECT SUM(Rainfall) FROM temp WHERE City='Cairo'")
Sum=sql.fetchall()
for i in Sum:
    print(i)

(27.6,)

h) The total rainfall for each season.

In [122]:
sql.execute("SELECT season,SUM(rainfall) FROM temp GROUP BY season")
Total=sql.fetchall()
print(Total)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [151]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Upper = [x.upper() for x in words]
Lower = [x.lower() for x in words]
Length = [len(x) for x in words]
Newlist = [(x.upper(),x.lower(),len(x)) for x in words]
Four = [x for x in words if len(x) >= 4]

print(Upper)
print(Lower)
print(Length)
print(Newlist)
print(Four)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']

### Thank You!